#loginBtn {
   -fx-background-color: lightcoral;
}
.poljeNijeIspravno {
   -fx-background-color: lightcoral;
}
.poljeJeIspravno {
-fx-background-color: yellowgreen;
}
#loginRegister{
   -fx-background-color: lightcoral;
}
#btnCance{
-fx-background-color: lightcoral;
}